if hexo-config('css_prefix')
  @import 'nib'

@import '_third-party/normalize.min.css'
// project
@import 'var'
@import '_global/*'
@import '_highlight/highlight'
@import '_page/*'
@import '_layout/*'
@import '_tags/*'
@import '_mode/*'

// search
@import '_search/index'

@import 'https://cdn.jsdelivr.net/gh/Rvosy/Mybox@0.2/css/universe.min.css'
@import 'https://cdn.jsdelivr.net/gh/Rvosy/Mybox@0.2/css/custom.min.css'
@import 'https://cdn.jsdelivr.net/gh/Rvosy/Mybox@0.2/css/loading.min.css'
